body { padding-top: 40px; }

/* Revisions to Bootstrap CSS */
.navbar { margin-bottom: 0; box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.4); }
.navbar-default { background-color: #FFFFFF; border-radius: 0px; }
.navbar-brand { line-height: 18px; }
.navbar-default .navbar-nav > li > a { color: #0055AA; font-weight: 600; }
.navbar-default .navbar-nav > li > a:hover { background-color: #0055AA; color: #FFFFFF; }
.navbar-right { border-left: solid 1px #DDDDDD; }
.navbar-right > li > a { font-size: 11px; } 
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus { background-color: #0055AA; color: #FFFFFF; }
.dropdown-menu > li > a { color: #0055AA; padding-right: 50px; }
.dropdown:hover .dropdown-menu { display: block; }
ul.nav li.dropdown:hover .dropdown-toggle { background-color: #0055AA; color: #FFFFFF; }
button.navbar-toggle { border: 0px; border-right: solid 1px #DDDDDD; border-radius: 0px; height: 50px; margin: 0px; padding-left: 12px; padding-right: 12px;}
.navbar-default .navbar-toggle .icon-bar { background-color: #0055AA; height: 3px; }

.embed-responsive-4by3,.embed-responsive-16by9,.embed-responsive-item { border-radius: 4px; border: solid 1px #DDDDDD; }
.jumbotron { padding: 260px 0px 0px 0px; height: 360px; background-size: cover; background-repeat: no-repeat; background-position: center top; }

/* Custom CSS */
.blue { color: #0055AA; }
.red { color: #CC0000; }
.gray-lighter { color: #EEEEEE; }
.gray-light { color: #777777; }
.gray { color: #555555; }
.gray-dark { color: #333333; }
.green { color: #27AE60; }
.orange { color: #F47421; }
.yellow { color: #FFDE00; }
.white { color: #FFFFFF; }

.nav_logo { width: auto; height: 70%; float: left; }
.title_box { background-color: #555555; height:100px; opacity: 0.6; filter:alpha(opacity=60); z-index: -1; }
.jumbotron h1 { position: absolute; color: #FFFFFF; margin-top: -105px; line-height: 100px; font-size: 60px; font-weight: 100; opacity: 1.0; z-index: 1; }
.body_title { margin-top: 0px; }

.main_page { background-image:url(); }
.about_us { background-image:url(../images/about_us.jpg); }
.locations { background-image:url(../images/our_locations.jpg);  }
.life_at_academy { background-image:url(../images/life_at_academy.jpg); }
.academy_cares { background-image:url(../images/.jpg); }
.military { background-image:url(../images/our_military_commitment.jpg);  }
.career_opportunities { background-image:url(../images/career_opportunities.jpg);}
.stores { background-image:url(../images/our_retail_stores.jpg);  }
.corporate { background-image:url(../images/our_corporate_office.jpg); }
.distribution { background-image:url(../images/our_distribution_centers.jpg); }
.student { background-image:url(../images/.jpg);  }
.benefits { background-image:url(../images/.jpg); }

.promo_box { border-radius: 4px; background-color: #FFFFFF; border: solid 1px #DDDDDD; min-height: 120px; margin-bottom: 25px; }
.promo_box h2 { margin-top: 0px;}

.search_box { border-radius: 4px; background-color: #F5F5F5; border: solid 1px #DDDDDD; min-height: 180px;  padding: 10px 20px 10px 20px;  }
.search_box h4 { margin-bottom: 15px; }

.hp_box { border-radius: 4px; border: solid 1px #DDDDDD; min-height: 180px; background-size: cover; background-position: center top; background-repeat: no-repeat; padding: 0; border-radius: 4px; margin-bottom: 25px; }
.hp_links { text-decoration: none; }
.hp_links:hover { text-decoration: none; }
.hp_links:hover .hp_object_text { background-color: rgb(5, 94, 182); }
.hp_life { background-image:url(../images/life_at_academy.jpg); }
.hp_student { background-image:url(); }
.hp_stores { background-image:url(../images/our_stores.png); }
.hp_corporate { background-image:url(../images/our_corporate_office.jpg); }
.hp_distrib { background-image:url(../images/our_distribution_centers.jpg); }
.hp_object_text { border-top: solid 2px #FFFFFF; min-height 42px; margin-top: 142px; text-align: right; padding-right: 20px; background-color: #0055AA; border-radius: 0 0 4px 4px; line-height: 34px; font-size: 18px; color: #FFFFFF; }
.hp_life:hover, .hp_student:hover, .hp_stores:hover, .hp_corporate:hover, .hp_distrib:hover { opacity: .9; filter:alpha(opacity=90); }

.footer { background-color: #EEEEEE; min-height: 125px; margin-top: 25px; }
.social_media { margin-top: 25px; margin-bottom: 10px; }
.copyright { font-size: 11px; }
.footer_link { color: #333333; text-decoration: none;  }
.footer_link:hover { color: #333333; text-decoration: none;}

.arrow { float: right; border-right: 2px solid #FFFFFF; border-bottom: 2px solid #FFFFFF; width:10px; height:10px; transform: rotate(-45deg); margin-left: 20px; margin-top: 13px; }
.dropdown-menu > li > a > .arrow_nav { position: absolute; right: 20px; border-right: 2px solid #0055AA; border-bottom: 2px solid #0055AA; width:8px; height:8px; transform: rotate(-45deg); margin-top: 5px; }
.dropdown-menu > li > a:hover > .arrow_nav { border-right: 2px solid #FFFFFF; border-bottom: 2px solid #FFFFFF;}


@media (min-width: 320px) and (max-width: 480px) { .search_box {margin-bottom: 25px;} .extra_space { margin-bottom: 25px;} .jumbotron h1 { font-size: 24px;} }
@media (min-width: 320px) and (max-width: 568px) { .search_box {margin-bottom: 25px;} .extra_space { margin-bottom: 25px;} .jumbotron h1 { font-size: 24px;} }
@media (min-width: 414px) and (max-width: 736px) { .search_box {margin-bottom: 25px;} .extra_space { margin-bottom: 25px;} .jumbotron h1 { font-size: 28px;} }
@media (min-width: 375px) and (max-width: 667px) { .search_box {margin-bottom: 25px;} .extra_space { margin-bottom: 25px;} .jumbotron h1 { font-size: 28px;} }
@media (min-width: 768px) and (max-width: 991px) { .body_title { margin-top: 25px; } }

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
    .navbar-collapse.in {
        overflow-y: auto !important;
    }
	.navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }
    .navbar-nav .open .dropdown-menu>li>a, .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #999;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover, 
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #fff;
        background-color: transparent;
        background-image:none;
    }
    .nav_logo { margin-left: 10px; }
}